@import './less/variables.less';
.container {
  max-width: @container-width;
  margin: 0 auto;
  .bp(@xl,{
    margin-left: 10px;
    margin-right: 10px;
  });
}
.header {
  &-top {
    background: @bg-second-color;
    &-container {
      height: 124px;
      display: flex;
      justify-content: center;
    }
    &__image {
      margin: 0 20px;
      align-self: center;
    }
  }
  &-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    .bp(@md, {
      justify-content: space-around;
    });
    &-logo {
      margin: 20px 0;
    }
    &-contact {
      margin: 10px;
      display: flex;
      &-phone {
        margin-right: 20px;
        &__number {
          font-size: @phone-font-size;
          text-decoration: none;
          color: @text-color;
        }
        &__time {
          font-size: @phone-time-font-size;
          color: @phone-time-color;
        }
      }
      &__call-back {
        align-self: center;
      }
    }
  }
}
.slider {
  margin: 0 auto;
  max-width: 1440px;
  &__image {
    max-width: 100vw;
  }
}
.content {
  &-text {
    &-image {
      .bp(@md, {
          width: 100%;
          float: none;
          padding: 20px 0;
        });
      padding: 0 20px 20px;
      & img {
        .bp(@md, {
          width: 100%;
          height: auto;
          max-width: 100%
        });
        max-width: 480px;
      }
      &_left {
        float: left;
        padding-left: 0;
      }
      &_right {
        float: right;
        padding-right: 0;
      }
    }
    & p {
      margin-top: 0;
    }
  }
}

.footer {
  margin-top: 20px;
  background: @bg-second-color;
  color: @footer-color;
  font-size: @footer-font-size;
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    margin-bottom: 20px;
    .bp(@xl,{
      width: 50%;
    });
    .bp(@sm,{
      width: 100%;
    });
    width: 290px;
    &__header {
      color: @footer-color;
      font-size: @footer-font-size;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__info {
      margin: 0;
    }
    &-contact {
      margin-bottom: 20px;
      &__phone {
        margin: 0 0 6px;
      }
      &__text {
        margin: 0;
      }
      &__link {
        text-decoration: none;
        color: @footer-color;
      }
    }
    &__seller {
      & p {
        margin-top: 0;
        margin-bottom: 6px;
      }
    }
  }
  &-menu {
    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &__item {
      margin-bottom: 6px;
    }
    &__link {
      color: @footer-color;
    }
  }
  &-disclaimer {
    text-align: center;
    font-size: 1rem;
    padding: 40px;
    color: @disclaimer-color;
  }
}
