doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    block meta
  body
    block header
    block slider
    block content
    block footer
