mixin footerContactItem({phone, text})
  - const phoneLink = phone.replace(/[\s-]/g, "");
  .footer-item-contact
    p.footer-item-contact__phone 
      a.footer-item-contact__link(href=`tel:${phoneLink}`)= phone
    p.footer-item-contact__text= text
